.ishidden {
  display: none;
}
h1 {
font-family: Helvetica, serif;
font-size: 36px;
text-align: center;
}

.image {
  width: 30%;
}
.personalinfo {
  font-size: 36px;
  text-align: center
}
.personalinfo>*{
  width: 60%;
}
p {
  font-family: Calibri, serif;
  color: Black;
}
