body {
  padding: 30px;
  margin: 2px;
}
.ishidden {
  display: none;
}
h1 {
font-family: Helvetica, serif;
font-size: 36px;
text-align: center;
}
.image {
  width: 100%;
  display: inline-block;
}
.personalinfo {
  font-size: 36px;
  text-align: center;
  width: 50%;
  display: inline-block;
}
.personalinfo>*{
  width: 60%;
  display: block;
}
p {
  font-family: Calibri, serif;
  color: Black;
}
